# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Virtual envs
env/
venv/

# Data files
*.csv
*.xlsx
*.parquet
data/

# Logs and temp
*.log
logs/

# Secrets
.env

.DS_Store
__pycache__/
venv/
.streamlit/secrets.toml
